<ion-content>
  <div class="splash-container">
    <div class="splash-content">
      <div class="logo-box">
        <img src="../../../../assets/icon/favicon.png" alt="Splash Image" class="logo animate__animated animate__zoomIn"/>
      </div>
      <h1 class="title animate__animated animate__slideInLeft">Santiago Sbaglia</h1>
      <h2 class="subtitle animate__animated animate__slideInRight">División: 10 (A141-2)</h2>
      <div class="button-box">
        <h1> Visualizador kinético</h1>
      </div>
    </div>
  </div>
</ion-content>