<ion-content>
  <div class="glass">
    <div class="d-flex-column">
      <div class="d-flex-center">
        <h1 style="color: rgb(10, 131, 238); font-weight: bold; font-family: 'Arial Black', sans-serif; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);" class="animate__animated animate__slideInLeft">Santiago Sbaglia</h1>
      </div>
      <div class="d-flex-center">
        <img src="../../../../assets/icon/favicon.png" alt="Splash Image" style="border-radius: 50%; border: 5px solid aliceblue;" class="animate__animated animate__zoomIn"/>
      </div>
      <div class="d-flex-center">
        <h1 style="color: aliceblue;" class="animate__animated animate__slideInRight">División: 10 (A141-2)</h1>
      </div>
    </div>
  </div>
</ion-content>