.chart-container {
    position: relative;
    height: 400px; /* Ajusta el tamaño según sea necesario */
    width: 100%;
  }
  
  canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
  