.background-content {
    --background: none;
    background-image: url('../../assets/ladrillos4.jpg');  /* Asegúrate de que la imagen esté en la carpeta correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  