/* Imagen de fondo para el ion-content */

ion-content {
  --background: none;
  background-image: url('../../../../assets/ladrillos3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.custom-background {
  background-image: url('../../../../assets/ladrillos3.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* Caja de formulario */
.login-card {
  background-color: rgba(255, 255, 255, 0.9); /* Transparencia en el fondo del formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
}

.login-form {
  padding: 0;
}

ion-item {
  margin-bottom: 15px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
}

ion-button {
  margin-top: 10px;
}