 
/* Imagen de fondo para el ion-content */
.custom-background {
  background-image: url('../../../../assets/ladrillos2.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* Caja de formulario */
.login-form {
  background-color: rgba(255, 255, 255, 0.9); /* Transparencia en el fondo del formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
}

ion-button {
  margin-top: 10px;
}

