<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <!-- Formulario de inicio de sesión -->
        <div class="login-card">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
            <!-- Input de Email -->
            <div class="form-group">
              <label for="email" class="form-label">Correo</label>
              <input id="email" type="email" formControlName="email" class="form-control" placeholder="Ingresa tu correo" />
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                <small>Correo es requerido y debe tener un formato válido.</small>
              </div>
            </div>
  
            <!-- Input de Contraseña -->
            <div class="form-group ">
              <label for="password" class="form-label">Contraseña</label>
              <input id="password" type="password" formControlName="password" class="form-control" placeholder="Ingresa tu contraseña" />
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                <small>La contraseña es requerida (mínimo 6 caracteres).</small>
              </div>
            </div>

            <!-- Botón de Iniciar Sesión -->
            <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" color="primary">
              Iniciar sesión
            </ion-button>
          </form>

          <!-- Botones de ingreso rápido -->
          <ion-grid>
            <ion-row>
              <ion-col size="12" *ngFor="let user of quickUsers">
                <ion-button expand="block" (click)="fillForm(user)" color="secondary">
                  {{ user.correo }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Botón de Registrarse -->
          <ion-button expand="block" (click)="goToRegister()" color="tertiary">
            Registrarse
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>