/* Fondo de pantalla */
.background-content {
  --background: none;
  background-image: url('../../assets/ladrillos3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* El contenedor de los botones ocupará toda la pantalla */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: 0;
  margin: 0;
}

.big-button {
  position: relative;
  flex-grow: 1; /* Cada botón ocupa espacio igual */
  margin: 0;
  --background: none;
  overflow: hidden;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fondo de los botones */
.button-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
}

/* Texto sobre los botones */
.button-text-overlay {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Estilo para el botón de cerrar sesión pequeño */
.logout-fab {
  margin-bottom: 20px;  /* Un poco de margen inferior */
  margin-right: 10px;   /* Un poco de margen derecho */
  position: fixed;

  /* Posicionamos el botón en la esquina inferior derecha */
  bottom: 0;
  right: 0;

  /* Añadimos un poco de sombra */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  /* Añadimos un poco de margen a los bordes */
  border-radius: 50%;
  // poner un icono de cerrar sesion 
 
}
