<ion-header>
  <ion-toolbar>
    <ion-title>Lo mejor para nuestro edificio</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content class="background-content" fullscreen="true">
  <div class="button-container">
    <!-- Botón de Cosas Lindas -->
    <ion-button expand="block" class="big-button" (click)="goToCosasLindas()">
      <div class="button-background" [ngStyle]="{'background-image': 'url(' + randomCosaLinda + ')'}"></div>
      <div class="button-text-overlay">Cosas Lindas</div>
    </ion-button>

    <!-- Botón de Cosas Feas -->
    <ion-button expand="block" class="big-button" (click)="goToCosasFeas()">
      <div class="button-background" [ngStyle]="{'background-image': 'url(' + randomCosaFea + ')'}"></div>
      <div class="button-text-overlay">Cosas Feas</div>
    </ion-button>
  </div>

  <!-- Botón de Cerrar Sesión pequeño en la parte inferior -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="logout-fab">
    <ion-button color="danger" size="small" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir..
    </ion-button>
  </ion-fab>
</ion-content>
