<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button-container">
    <ion-button expand="block" class="big-button" (click)="goToCosasLindas()">
      <ion-img src="assets/img/button1-image.png"></ion-img>
      Cosas Lindas
    </ion-button>

    <ion-button expand="block" class="big-button" (click)="goToCosasFeas()">
      <ion-img src="assets/img/button2-image.png"></ion-img>
      Cosas Feas
    </ion-button>
  </div>

  <!-- Botón de Cerrar Sesión -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button color="danger" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-fab>
</ion-content>
